// white
$white: #fff;

// black / grey
$grey-95: #f3f6fc;
$grey-90: #dbe2f0;
$grey-60: #8091b1;
$grey-45: #5c6b8a;
$grey-10: #0a1128;

// blue
$blue-primary-95: #e5f8ff;
$blue-primary-90: #c6ecfb;
$blue-primary-50: #00baff;
$blue-primary-45: #0b9ed5;
$blue-primary-35: #097ea9;

$blue-informative-95: #ebfaff;
$blue-informative-90: #ccf1ff;
$blue-informative-50: #0057ff;
$blue-informative-40: #1f4ebd;
$blue-informative-35: #204597;

// green
$green-95: #e3fdf6;
$green-85: #c4f2e6;
$green-45: #0ad69d;
$green-35: #05a87b;
$green-25: #008062;

// red
$red-95: #fce9ed;
$red-90: #f6cbd5;
$red-50: #f00f39;
$red-40: #c80428;
$red-30: #9f0420;

// yellow
$yellow-95: #fff3e0;
$yellow-85: #f6e1c0;
$yellow-55: #ffba1c;
$yellow-35: #b26800;
$yellow-25: #804a00;

// orange
$orange-95: #fef4ec;
$orange-90: #fadec7;
$orange-60: #ff8e3c;
$orange-50: #e56f1a;
$orange-35: #a14e12;

// teal
$teal-95: #eaf8fa;
$teal-85: #c7ebf0;
$teal-60: #5fc7d5;
$teal-45: #35a2b1;
$teal-30: #236c76;

// purple
$purple-95: #faeefd;
$purple-90: #eec3f9;
$purple-60: #bd5dd5;
$purple-50: #ac35ca;
$purple-35: #79258e;

// pink
$pink-95: #fee6ea;
$pink-90: #fdc4ce;
$pink-60: #ef476f;
$pink-50: #de214e;
$pink-30: #85142f;

// dark mode
$dark-mode-blue-15: #151e3c;
$dark-mode-blue-25: #232d4d;
$dark-mode-blue-30: #313b5e;
$dark-mode-blue-45: #5a668c;
$dark-mode-blue-65: #8995bd;
